# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# FastAPI
.pytest_cache/
.mypy_cache/